@using ALevelBlazorTemplate.Context
@using ALevelBlazorTemplate.Model
@using ApexCharts
@using Microsoft.AspNetCore.Components.Authorization
@inject UserProvider UserProvider
@inject OrderProvider OrderProvider



<h3>HabitGraph</h3>



<div class="card">

<ApexChart TItem="MyData"
           Title="Order Chart">

    <ApexPointSeries TItem="MyData"
                     Items="Data"
                     Name="Total Revenue"
                     SeriesType="SeriesType.Area"
                     XValue="e => e.Order"
                     YValue="e=> e.Total" />


</ApexChart>
</div>



@code {
    private IEnumerable<Order>? orders;
    private Order? selectedOrder;

    protected async override Task OnInitializedAsync()
    {

        orders = await OrderProvider.GetAllOrdersAsync();
        selectedOrder = orders?.FirstOrDefault();

        foreach (Order order in orders)
        {
            Data.Add(new MyData { Order = $"{order.Id}", Total = order.TotalPoints });
        }
    }




    private List<MyData> Data { get; set; } = new();



    public class MyData
    {
        public string Order { get; set; }
        public decimal Total { get; set; }
    }


}